<mat-expansion-panel *ngIf="categories">
    <mat-expansion-panel-header>
        <mat-panel-title>KATEGORIE</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple] = "false" hideSingleSelectionIndicator>
        <mat-list-option *ngFor="let category of categories" (click)="onShowCategory(category)">
            <!-- <button (click)="onShowCategory(category)"> -->
                {{category}}
            <!-- </button> -->
        </mat-list-option>
        <mat-list-option (click)="onShowCategory('')">Wszystkie kategorie</mat-list-option>
    </mat-selection-list>
</mat-expansion-panel>